$border-color-light: #1485cc;
$border-color-dark: #ccc;
$font-color: rgba(9,113,178,0.72);
$background-color: #efefef;
$like-color: rgba(204,20,20,0.66);

body {
  background: $background-color;
}

h1.heading {
  text-align: center;
  color: $font-color;
  font-family: 'Lato', sans-serif;
  font-size: 75px;
}

ul {
  margin: 0 20px;
}

.grid {
  border: 2px solid $border-color-dark;
  // border: 2px solid $border-color-light;
  background: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  // border-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  // border: 4px solid $border-color-light;
}

.grid p.description {
  width: 100%;
  text-align: center;
  // font-family: 'News Cycle', sans-serif;
  font-family: 'Lato', sans-serif;
}

.grid p.extra-details {
  padding: 1px 0 0 0;
}

.grid-img {
  width: 100%;
  vertical-align: middle;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  // border-radius: 25px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid rgba(59,59,60,0.57);
  // box-shadow: 0 3px 10px 0 rgba(0,0,0,0.67), 0 3px 3px rgba(0,0,0,0.23);
}

* {
  list-style-type: none;
}

.grid-img.img-loaded {
  visibility: visible;
  opacity: 1;
}

span.date-posted {
  position: absolute;
  left: 5px;
  bottom: 0;
}

span.votes {
  position: absolute;
  right: 5px;
  bottom: 0;
}

span i {
  color: $like-color;
}

.hovergallery li{
  -webkit-transform:scale(0.8); /*Webkit: Scale down image to 0.8x original size*/
  -moz-transform:scale(0.8); /*Mozilla scale version*/
  -o-transform:scale(0.8); /*Opera scale version*/
  -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
  -moz-transition-duration: 0.5s; /*Mozilla duration version*/
  -o-transition-duration: 0.5s; /*Opera duration version*/
  opacity: 0.7; /*initial opacity of images*/
  margin: 0 10px 5px 0; /*margin between images*/

}

.hovergallery li:hover{
  -webkit-transform:scale(1.1); /*Webkit: Scale up image to 1.2x original size*/
  -moz-transform:scale(1.1); /*Mozilla scale version*/
  -o-transform:scale(1.1); /*Opera scale version*/
  box-shadow:0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
  -webkit-box-shadow:0px 0px 30px gray; /*Safari shadow version*/
  -moz-box-shadow:0px 0px 30px gray; /*Mozilla shadow version*/
  opacity: 1;

}
